<div class="ui segment">
  <%= search_form_for @q, html: { class: "ui form license-plate-search-form" } do |f| %>
    <div class="equal width fields">
      <div class="license-plate-jurisdiction-search field">
        <%= f.select :jurisdiction_id_eq,
          Jurisdiction.pluck(:name, :id),
          { include_blank: 'Jurisdiction' },
          { class: "ui search dropdown" }
        %>
      </div>
      <div class="license-plate-identifier-search field">
        <%= f.text_field :identifier_cont, placeholder: 'License plate number' %>
      </div>
      <%= f.submit class: "license-plate-search-button ui submit button" %>
    </div>
  <% end %>
</div>
