<h1>License Plates</h1>

<div class="add-button-row">
  <%= link_to "Add a license plate", new_license_plate_path, class: "ui positive right floated button" %>
</div>

<div class="index-listing">
  <%= @license_plates.find_each do |plate| %>
    <div class="ui segment">
      <%= plate.identifier %>
    </div>
  <% end %>
</div>
