.add-button-row {
  margin: 0.5em 0;

  .ui.button {
    margin: 0.5em 0 0.5em 1em;
  }
}

.index-listing {
  clear: both;
  margin-top: 1em;
}

.license-plate {
  &:hover {
    cursor: pointer;
  }
  .license-plate-identifier, .jurisdiction {
    margin: 1rem 0rem;
    padding-bottom: 1rem;
  }

  .license-plate-identifier {
    padding-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .jurisdiction {
    padding-top: 1.25rem;
    font-size: 1.5rem;
  }
}

