.add-button-row {
  margin: 0.5em 0;

  .ui.button {
    margin: 0.5em 0 0.5em 1em;
  }
}

.index-listing {
  clear: both;
  margin-top: 1em;
}

.license-plate {
  &:hover {
    cursor: pointer;
  }
  .license-plate-identifier, .jurisdiction {
    margin: 1rem 0rem;
    padding: 1rem 0;
    font-size: 1.75rem;
  }

  .license-plate-identifier {
    word-wrap: break-word;
  }

  .license-plate-comments-count {
    margin: auto;
  }

  .most-recent-comment-preview {
    font-size: 1em;
    padding-top: 0.75em;
    text-align: center;
  }

  .most-recent-comment-timestamp {
    font-family: 'Lato', 'Helvetica Nue', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
}

.ui.grid.segment.license-plate {
  border: 2px solid $dark-blue;
  &:hover {
    border-color: $light-blue;
    color: $light-blue;
  }
}

.ui.form.license-plate-search-form .fields {
  .license-plate-jurisdiction-search.field, .license-plate-identifier-search.field {
    padding-left: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .license-plate-search-button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.license-plate-no-results-found-message {
  clear: both;
}
